node_modules/

.idea/workspace.xml

.idea/watcherTasks.xml

.idea/vcs.xml

.idea/NormanMarketing.iml

.idea/modules.xml

.idea/misc.xml

.idea/libraries/NormanMarketing_node_modules.xml

.idea/jsLibraryMappings.xml

.idea/.name
